body {
    padding: 0;
    margin: 0;

}

.nav-item {
    margin-left: 50px;
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../font/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: Roboto-light;
    src: url('../font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url('../font/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url('../font/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
    font-family: PTSan-Regular;
    src: url("../font/PT_Sans/PTSans-Regular.ttf");
}

/* header */
#nav-item-one {
    margin-left: 90px;
}

.nav-item a {
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 21px;
    color: #114261;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
}

#dropdownMenu2:focus {
    outline: 0;
    box-shadow: none;
    color: #F56363;
}

.english-one {
    padding: 15px 0px 11px 16px;
    border-bottom: 1px solid #F2F2F2;
}

.english-two {
    padding: 15px 0px 11px 16px;
}

.english-one a, .english-two a {
    font-family: PTSan-Regular;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #000000;

}

.english-one a:hover, .english-two a:hover {
    text-decoration: none;
}

/* banner */

#banner-container {
    padding-right: 0px;
    padding-left: 0px;
}

.content-fullstack {
    position: absolute;
    z-index: 2;
}

.banner-fullstack {
    position: relative;
}

.text-banner-fullstack {
    position: absolute;
    top: 0;
    right: 0;
    left: 53%;
}

.icon-banner-fullstack {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-top: 137px;
}

.icon-banner-home {
    border: 3px solid #F56363;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 21px 22px 25px 20px;
}

.icon-banner-home:hover, .icon-banner-phone:hover, .icon-banner-mail:hover {
    background: #F56363;
}

.icon-banner-phone {
    margin-left: 40px;
    border: 3px solid #F56363;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 23px 25px 23px 24px;
}

.icon-banner-mail {
    margin-left: 40px;
    border: 3px solid #F56363;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 23px 25px 27px 23px;
}

.text-banner-fullstack p:first-child {
    font-family: Roboto-Bold;
    font-size: 45px;
    line-height: 53px;
    text-align: right;
    color: #FFFDFD;
    margin: 190px 0px 0px;
}

.text-banner-fullstack p:nth-child(2) {
    font-family: Roboto-Regular;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 30px 0px 0px;
    transform: translateZ(0.44px)
}


/*3-typical-projects*/
.head-typical-project {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.typicail-project-vrmaker-io {
    position: absolute;
    top: 70%;
    left: 23%;
}

.fix-frames-head {
    position: absolute;
    top: 32%;
    left: 42%;

}

.content-right-typical-projects {
    position: absolute;
    left: 70%;
    top: 40px;
}

.content-right-typical-projects span {

    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
    border-bottom: 1px solid rgba(245, 99, 99, 0.5);;
}

.content-right-typical-projects p {
    padding-top: 30px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
}

.content-right-typical-projects button {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
    border: 2px solid #E14234;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 25px 9px 25px;
    color: rgba(0, 0, 0, 0.7);
    float: right;
}

.end-typical-project {
    position: relative;
}

.typicail-project-cheese {
    position: absolute;
    top: 110px;
    left: 19px;
}

.typicail-project-baobinh {
    top: 15px;
    position: absolute;
    right: 9%;
}

.typicail-project-remoney {
    position: absolute;
    top: 261px;
    left: 33%;
}

.fix-frames-end {
    position: absolute;
    right: 50px;
    top: 355px;
}

.typicail-project-fullstack-acedemy, .content-typicail-project-vrmaker-io {
    position: relative;
}

.content-typicail-project-fullstack-acedemy {
    position: absolute;
    padding: 18px 50px 18px 50px;
    top: 50%;
    left: 20%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.content-typicail-project-vrmaker-io {
    position: absolute;
    padding: 18px 50px 18px 50px;
    top: 43%;
    left: 12%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.content-typicail-project-cheese {
    position: absolute;
    padding: 18px 50px 18px 50px;
    top: 43%;
    left: 12%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.content-typicail-project-baobinh {
    position: absolute;
    padding: 18px 50px 18px 50px;
    top: 43%;
    left: 12%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.content-typicail-project-remoney {
    position: absolute;
    padding: 18px 50px 18px 50px;
    top: 43%;
    left: 12%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.typicail-project-remoney:hover .content-typicail-project-remoney{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.typicail-project-baobinh:hover .content-typicail-project-baobinh{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.typicail-project-vrmaker-io:hover .content-typicail-project-vrmaker-io {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.typicail-project-fullstack-acedemy:hover .content-typicail-project-fullstack-acedemy {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.typicail-project-cheese:hover .content-typicail-project-cheese {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.content-typicail-project-fullstack-acedemy a ,.content-typicail-project-vrmaker-io a ,.content-typicail-project-cheese a , .content-typicail-project-baobinh a , .content-typicail-project-remoney a{
    padding: 18px 50px 18px 50px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFDFD;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}


/*4-customer-reviews*/

.customer-reviews {
    margin-top: 700px;
}

.customer-review span {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
    border-bottom: 1px solid rgba(245, 99, 99, 0.5);;
}

.customer {
    padding: 40px 170px 0px 170px;
}

.content-customer-one {
    background: #38B9D5;
    margin-bottom: 30px;
}

.content-customer-one p:nth-child(1), content-customer-two:nth-child(1) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 0;
    padding: 30px 0px 0px 30px;
}

.content-customer-two {
    background: #114261;
    margin-bottom: 30px;
}

.content-customer-three {
    background: #183133;
    margin-bottom: 30px;
}

.content-customer-two p:nth-child(1) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 0;
    padding: 30px 0px 0px 30px;
}

.content-customer-three p:nth-child(1) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 0;
    padding: 30px 0px 0px 30px;
}

.content-customer-one p:nth-child(2) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 6px 0;
    padding: 0px 0px 0px 30px;
}

.content-customer-two p:nth-child(2) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 6px 0;
    padding: 0px 0px 0px 30px;
}

.content-customer-three p:nth-child(2) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #FFFDFD;
    margin: 6px 0;
    padding: 0px 0px 0px 30px;
}

.content-customer-one p:nth-child(3) {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFDFD;
    padding: 10px 0px 13px 30px;
}

.content-customer-two p:nth-child(3) {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFDFD;
    padding: 10px 0px 13px 30px;
}

.content-customer-three p:nth-child(3) {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFDFD;
    padding: 10px 0px 13px 30px;
}

.img-customer-one, .img-customer-two, .img-customer-three {
    overflow: hidden;
}


.img-customer-one img:hover, .img-customer-two img:hover, .img-customer-three img:hover {
    transition: 1s;
    transform: scale(1.1);
}

/*5-Services*/

.title-serice span {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
    border-bottom: 1px solid rgba(245, 99, 99, 0.5);;
}

.title-serice p {
    margin-top: 14px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
}

.cheese-service-home img:nth-child(2) {
    position: absolute;
    left: 0;
}

.content-chese-home, .content-fullstack-acedemy-home {
    position: absolute;
    top: 22%;
    left: 42%;
}

.content-chese-home a {
    font-family: Roboto-Regular;
    font-size: 45px;
    line-height: 53px;
    color: #FFFDFD;
    text-decoration: none;
}

.content-chese-home a:hover {
    text-decoration: none;
}

.content-chese-home p {
    margin-top: 30px;
    font-family: Roboto-Regular;
    -font-size: 16px;
    line-height: 19px;
    color: #FFFDFD;
}

.baobinh-service-home img:nth-child(2) {
    position: absolute;
    left: 0;

}

.cheese-service-home {
    background-image: url("../image/home/Rectangle 61.png");
}

.fullstack-acedemy-service-home, .baobinh-service-home, .ai-service-home {
    background-image: url("../image/home/Rectangle 60.png");
}

.cheese-service-home img {
    opacity: 0.3;
    object-fit: cover;
    height: 409px;
}

.fullstack-acedemy-service-home img, .baobinh-service-home img, .ai-service-home img {
    opacity: 0.6;
    object-fit: cover;
    height: 409px;
}

.content-baobinh-home {
    left: 22px;
    position: absolute;
    top: 22%;
    width: 50%;
}

.content-baobinh-home a, .content-fullstack-acedemy-home a {
    font-family: Roboto-Regular;
    font-size: 45px;
    line-height: 53px;
    text-align: right;
    color: #2B2828;
}

.content-baobinh-home p, .content-fullstack-acedemy-home p {
    margin-top: 30px;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.content-ai-home {
    position: absolute;
    top: 22%;
    left: 22px;
    width: 55%;
}

.content-ai-home a {
    font-family: Roboto-Regular;
    font-size: 45px;
    line-height: 53px;
    color: #FFFDFD;
}

.content-ai-home p:nth-child(2) {
    font-family: Roboto-Bold;
    font-size: 45px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFDFD;
}

.content-ai-home p:nth-child(3) {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFDFD;
}

.row2-service {
    margin-top: 40px;
}


/*6.team*/


.team {
    background-image: url("../image/home/background-team.jpg");
}

.owl-carousel {
    margin-top: 20px;
}

.title-team span {
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto-Regular;
    color: #2B2828;
    border-bottom: 1px solid rgba(245, 99, 99, 0.5);
}

.title-team img {
    margin-top: -20px;
}

.team-company-list {
    padding: 19px 0px 10px 0px;
    position: relative;
    width: auto;
}

.team-company-list img {
    display: block;
    width: 100%;
    height: auto;
}

.information-team-list {
    margin-top: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.team-company-list:hover .information-team-list {
    opacity: 1;
}

.information-team-list p:first-child {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.information-team-list p:last-child {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
}


.team-company-list img:hover {
    transform: scale(1.13); /* IE 9 */
}


/*7.Blog*/
.blogs {
    margin-top: 27px;
}

.title-blog span {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
    margin: 0;
    border-bottom: 1px solid rgba(245, 99, 99, 0.5);;
}

.blog-content-detail-pape-one-row2, .blog-content-detail-page-two-row2 {
    margin-top: 60px;
}

.content-blog-detail p:nth-child(1) {
    font-family: Roboto-Bold;
    font-size: 64px;
    line-height: 75px;
    color: #BDBDBD;
    margin: 0;
}

.content-blog-detail span {
    font-family: Roboto-Bold;
    font-size: 36px;
    line-height: 42px;
    color: #BDBDBD;
}

.content-blog-detail p:nth-child(2) {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #2B2828;
    margin: 0;
}

.content-blog-detail p:nth-child(3) {
    padding: 15px 0px 30px;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.read-more-blog-home {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #5A5858;
}

.read-more-blog-home:hover {
    text-decoration: none;
}

.next-left-blog-home {
    background: #FFF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.next-right-blog-home {
    background: #FFF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}


/* 8.trademark */
.trademark {
    margin-top: 80px;
    background: #264553;
}

.trademark h2 {
    margin-top: 20px;
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFDFD;
}

#title-trademark {
    margin-top: 20px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFDFD;
}

.logo-trademark {
    text-align: center;
}

.margin-logo {
    margin-left: 45px;
}

.descript-company {
    margin-top: 50px;
}

.contacting {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacting li a {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.contacting li a:hover {
    text-decoration: none;
}

.icon-trademark {
    font-size: 26px;
    color: #fff;

}


.padding-trademark {
    margin-top: 20px;
}

.address-main {
    padding-right: 10em;
}

.contact p:first-child {
    font-size: 18px;
    line-height: 21px;
    font-family: Roboto-Regular;
    color: #FFFDFD;
}

.contact p:nth-child(2) {
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto-Regular;
    color: #FFFDFD;
}

.contact p:nth-child(4) {
    font-family: Roboto-LightItalic;
    font-size: 12px;
    line-height: 14px;
    color: #FFFDFD;
    padding: 15px 0px 19px 0px;
}

.form-contact {
    display: flex;
}

.form-contact input {
    width: 80%;
    padding: 10px 0px 11px 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto-LightItalic;
    color: rgba(0, 0, 0, 0.75);
}

.form-contact button {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    font-family: Roboto-Bold;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #E14234;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 7px;
}

.social-network-footer {
    width: 197px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin: 19px 0px 27px;
}

.social-network-footer ul {
    margin: 10px 20px 10px 20px;
    padding: 0;
}

.social-network-footer ul li {
    list-style: none;
}

.socials-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* 9.footer */
.footer {
    background: #0C3648;
}

.padding-footer {
    padding: 25px 0px 25px;
}

.license p {
    margin-bottom: 0px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #F56363;
}

.rules-service p {
    margin-bottom: 0px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #F56363;
    float: right;
}


/*ABOUT_US*/
/*1.content*/
.title-right-about-us p {
    margin: 33px 0px 0px -170px;
    font-family: Pacifico;
    font-size: 50px;
    line-height: 205.1%;
    /* identical to box height, or 103px */

    letter-spacing: 0.125em;

    /* màu text */

    color: #2B2828;
}

.title-left-about-us p {
    position: absolute;
    z-index: 2;
    right: -20%;
    font-family: Pacifico;
    font-size: 50px;
    line-height: 205.1%;
    letter-spacing: 0.125em;
    color: #2B2828;
    margin-top: 33px;
}

.descript-about-us-left {

    margin-top: 160px;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);

}

.descript-about-us-right {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
}

/*portfolio*/
/*3.fullstack-acedemy*/

.fullstack-acedemy {
    font-family: Pacifico;
    font-size: 72px;
    line-height: 175.1%;
    color: #2B2828;
}

.fullstack-acedemy span {
    font-family: Pacifico;
    font-size: 36px;
    line-height: 175.1%;
    text-align: right;
    letter-spacing: 0.125em;
    color: #2B2828;
}

.inner {
    font-size: 20px;
    font-color: #878787;
    position: absolute;
    left: 5%;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.fullstack-acedemy {
    position: relative;
    background: linear-gradient(180deg, rgba(202, 235, 255, 0.4) 0%, rgba(255, 236, 236, 0.4) 100%);
    padding-top: 20px;
}

.detail-fullstackacedemy {

    display: flex;
    flex-wrap: wrap;

}

.img-fullstackacedemy {
    width: auto;
    height: 633px;
    overflow-x: hidden;
    overflow-y: auto;

}

.img-rmaker {
    width: auto;
    height: 633px;
    overflow-x: hidden;
    overflow-y: auto;

}

.img-chese {
    width: auto;
    height: 633px;
    overflow-x: hidden;
    overflow-y: auto;

}

.detailblog-portfolio-left {
    width: 268px;
    margin: 0px 10px 0px 10px;
}

.detailblog-portfolio-center {
    width: 130px;
    margin: 0px 10px 0px 10px;
}

.detailblog-portfolio-right {
    width: 207px;
    margin: 0px 10px 0px 10px;
}

.content-center-acedemy p:first-child, .content-rmaker p:first-child {
    margin-top: 50px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.content-center-acedemy p:last-child, .content-rmaker p:last-child {
    font-family: Roboto-LightItalic;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 21px;
}

.padding-acedemy {
    padding-bottom: 20px;
}

.padding-rmaker {
    padding: 80px 0px 80px 0px;
}

.detail-rmaker {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.detail-rmaker-left {
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
}

.detail-rmaker-center {
    margin: 0px 10px 0px 10px;
    width: 195px;
}

.detail-rmaker-right {
    margin: 0px 10px 0px 10px;
    width: 139px;
}


.remoney {
    background: linear-gradient(180deg, rgba(202, 235, 255, 0.4) 0%, rgba(255, 236, 236, 0.4) 100%);
}

.padding-remoney {
    padding-bottom: 20px;
}

.title-remoney p {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 175.1%;
    text-align: center;
    color: #2B2828;
    transform: rotate(-0.37deg);
}

.title-remoney span {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 175.1%;
    text-align: center;
    color: #2B2828;
    transform: rotate(-0.37deg);
}


.detail-remoney {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.detail-remoney-left {
    margin: 0px 10px 0px 10px;
    width: 215px;
}

.detail-remoney-center {
    width: 167px;
    margin: 0px 10px 0px 10px;
}

.detail-remoney-right {
    width: 165px;
    margin: 0px 10px 0px 10px;
}

.content-remoney p:first-child {
    margin-top: 47px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 2em;
    color: rgba(0, 0, 0, 0.7);
}

.content-remoney p:last-child {
    font-family: Roboto-LightItalic;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 21px;
}

.detail-chese {
    display: flex;
    flex-wrap: wrap;
}

.detail-chese-left {
    width: 240px;
    margin: 0px 10px 0px 10px;
}

.detail-chese-center {
    width: 115px;
    margin: 0px 10px 0px 10px;
}

.detail-chese-right {
    width: 183px;
    margin: 0px 10px 0px 10px;
}


.padding-chese {
    padding: 60px 0px 60px;
}

.content-chese p:first-child {
    margin-bottom: 2em;
    margin-top: 50px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.content-chese p:last-child {
    font-family: Roboto-LightItalic;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 21px;
}


.baobinh {
    background: linear-gradient(180deg, rgba(202, 235, 255, 0.4) 0%, rgba(255, 236, 236, 0.4) 100%);
}

.content-baobinh p:first-child {
    padding-top: 50px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.7);
}

.content-baobinh p:last-child {
    font-family: Roboto-LightItalic;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 50px;
    padding-top: 15px;
}

.img-baobinh {
    width: auto;
    height: 633px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
}

.detail-baobinh {
    display: flex;
    flex-wrap: wrap;
}

.padding-baobinh {
    padding-bottom: 20px;
}

.detail-baobinh-left {
    width: 224px;
    margin: 0px 10px 0px 10px;
}

.detail-baobinh-center {
    width: 189px;
    margin: 0px 10px 0px 10px;
}

.detail-baobinh-right {
    width: 135px;
    margin: 0px 10px 0px 10px;
}


/*pagination*/
.pagination {
    margin: 60px 0px 80px 0px;
}

.next {
    border: 1px solid #114261;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    padding: 8px 13px 8px 13px;
}

.next:hover {
    background: #F56363;
}

.next a {

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.next a:hover {
    color: #FFFFFF;;
    text-decoration: none;
}

.paginate {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


/*service*/
.title-content-service p {
    font-family: Pacifico;
    font-size: 36px;
    line-height: 175.1%;
    text-align: center;
    letter-spacing: 0.125em;
    color: #2B2828;
    padding: 40px 0px 20px 0px;
}

.descript-service p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-family: Roboto-Regular;
    padding: 0px 17% 0px 17%;
    color: rgba(0, 0, 0, 0.7);
}

.gif-content {
    background-image: url("../image/service/background-service.png");
    background-repeat: no-repeat;
}

.padding-one-service {
    padding-top: 70px;
}

.fullstack-acedemy-service img, .baobinh-service img,.chese-service img, .ai-service img{
  height: 244px;
    object-fit: cover;
}
.chese-service {

}

.fullstack-acedemy-service a, .baobinh-service a, .chese-service a, .ai-service a {
    font-family: Pacifico;
    font-size: 36px;
    line-height: 175.1%;
    text-align: center;
    letter-spacing: 0.125em;
    display: block;
    color: #2B2828;
}


/*blog*/
.content-blog {
    margin-top: 80px;
    margin-bottom: 40px;
}

.date-month-year p {
    font-family: Roboto-Bold;
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 0px;
    color: #BDBDBD;
}

.date-month-year span {
    margin-left: 10px;
    font-family: Roboto-Bold;
    font-size: 36px;
    line-height: 42px;
    color: #BDBDBD;
}

.title-content-blog p {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px;
    color: #2B2828;
}

.descript-content-blog p {
    margin-bottom: 9px;

    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
}

.read-more-blog a {
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #5A5858;
    border-bottom: 1px solid red;
}

.read-more-blog a:hover {
    text-decoration: none;
}


/*detail-blog*/
.description-detail-blog {
    margin: 40px 0px 40px 0px;
}

.description-detail-blog p {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 24px;
}

.content-detail-blog {
    margin-top: 80px;
    margin-bottom: 40px;
}

.date-month-year p {
    font-family: Roboto-Bold;
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 0px;
    color: #BDBDBD;
}

.date-month-year span {
    margin-left: 10px;
    font-family: Roboto-Bold;
    font-size: 36px;
    line-height: 42px;
    color: #BDBDBD;
}

.title-content-detail-blog p {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px;
    color: #2B2828;
}

.descript-content-detail-blog p {
    margin-bottom: 9px;

    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
}

.read-more-detail-blog a {
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #5A5858;
    border-bottom: 1px solid red;
}

.read-more-detail-blog a:hover {
    text-decoration: none;
}

.boder-like-share {
    padding: 15px 0px 15px 0px;
    border-top: 1px solid rgba(17, 66, 97, 0.5);
    border-bottom: 1px solid rgba(17, 66, 97, 0.5);
}

.boder-like-share button {
    border: 0;
}

.boder-like-share button:focus {
    outline: 0;
    box-shadow: none;
}

.padding-comment {
    margin: 40px 100px 120px 100px;
}

.title-comment p {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #2B2828;
}

.title-related-articles a {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
    text-decoration: none;
    border-bottom: 2px solid rgba(245, 99, 99, 0.5);
}

.title-related-articles a:hover {
    text-decoration: none;
}

.content-related-articles {
    margin-top: 40px;
}

.related-articles {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.detail-related-articles {
    margin-left: 20px;
}

.detail-related-articles p:first-child {
    font-family: Roboto-Bold;
    font-size: 36px;
    line-height: 42px;
    color: #BDBDBD;
}

.detail-related-articles span {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    color: #BDBDBD;
}

.detail-related-articles:last-child {
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #2B2828;
}

.content-related-articles-left {
    float: left;
}

.content-related-articles-right {
    float: right;
}

.related-articles-comment {
    display: flex;
}

.comment-related-articles p {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.comment-related-articles {
    margin-left: 20px;
}


/*contact-us*/
.content-contact-us {
    margin: 0px 70px 0px 70px;
}

.information-company {
    margin-top: 72px;
    background: #114261;
}

.title-contact-us p {
    font-family: Pacifico;
    font-size: 36px;
    line-height: 175.1%;
    color: #FFFDFD;
    padding: 25px 0px 25px 36px;
}

.information-company-contact-us {
    padding: 0px 30px 39px 30px;
}

.information-company-contact-us ul li {
    list-style: none;
    padding-top: 20px;
}

.information-company-contact-us ul li i {
    color: #fff;
}

.information-company-contact-us ul li span {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 10px;
}

.information-company-contact-us ul li span a {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

#padidng-li {
    padding-top: 0px;
}

.social-network {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 19px;

}

.solid-face {

    border-radius: 50px;
    border: 2px solid #F56363;
    box-sizing: border-box;
    padding: 11px 20px 11px 20px;
}

.solid-skype {
    margin-left: 39px;
    margin-right: 39px;
    border-radius: 50px;
    border: 2px solid #F56363;
    box-sizing: border-box;
    padding: 9px 13px 9px 15px;
}

.solid-youtube {
    border-radius: 50px;
    border: 2px solid #F56363;
    box-sizing: border-box;
    padding: 9px 8px 9px 11px;
}

.form-contact-us {
    margin: 0px 30px 0px 30px;
}

.get-in-touch p {
    padding-top: 16px;
    font-family: Pacifico;
    font-size: 36px;
    line-height: 175.1%;
    color: #2B2828;
    margin-bottom: 0;
}

.find-the-address {
    margin: 60px 0px 80px;
}

.title-find-the-address p {
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    color: #2B2828;
}

.input-email p {
    margin: 35px 0px 5px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.input-email input {
    padding: 15px 0px 10px 3px;
    font-family: Roboto-LightItalic;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.17);
    width: 100%;
    background: rgba(201, 201, 201, 0.31);
    border: 1px solid;
}

.input-phone p, .input-note p {
    margin: 20px 0px 5px;
    font-family: Roboto-Regular;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.input-phone input {
    padding: 12px 0px 12px 3px;
    background: rgba(201, 201, 201, 0.31);
    font-family: Roboto-LightItalic;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.17);
    border: 1px solid;
    width: 100%;
}

.input-note input {
    padding: 7px 0px 112px 3px;
    width: 100%;
    background: rgba(201, 201, 201, 0.31);
    font-family: Roboto-LightItalic;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.17);
    border: 1px solid;
}

.send-contact {
    margin: 20px 0px 30px;
    float: right;
}

.send-contact button {
    border: 2px solid #E14234;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 50px 13px 50px;
    font-family: Roboto-Regular;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    background: #FFFDFD;
}

.send-contact button:hover {
    background: #F56363;
}






@media (max-width: 1199px) {
    /*1199-Home*/
    #nav-item-one {
        margin-left: 10px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .customer {
         padding: 0;
    }
    .content-customer-one p:nth-child(3) {
        font-family: Roboto-Regular;
        font-size: 16px;
        line-height: 19px;
        color: #FFFDFD;
        padding: 10px 0px 48px 30px;
    }
    .content-customer-two p:nth-child(3) {
        font-family: Roboto-Regular;
        font-size: 16px;
        line-height: 19px;
        color: #FFFDFD;
        padding: 10px 0px 48px 30px;
    }
    .content-customer-three p:nth-child(3) {
        font-family: Roboto-Regular;
        font-size: 16px;
        line-height: 19px;
        color: #FFFDFD;
        padding: 10px 0px 48px 30px;
    }

    .content-chese-home, .content-fullstack-acedemy-home {
        position: absolute;
        top: 10%;
        left: 0%;
        text-align: center;
    }

    .content-chese-home p {
        padding: 0px 15px 0px 15px;
    }
    .content-baobinh-home p, .content-fullstack-acedemy-home p {
      padding: 0px 15px 0px 15px;
    }
    .content-baobinh-home {
         text-align: center;
        position: absolute;
        top: 10%;
      width: auto;
    }
    .content-ai-home {
        position: absolute;
        top: 10%;
        text-align: center;
     width: auto;
    }
    .content-ai-home p:nth-child(3) {
        padding: 0px 15px 0px 15px;
        font-family: Roboto-Regular;
        font-size: 16px;
        line-height: 19px;
        color: #FFFDFD;
    }


}
